body {
  background-image: url('https://i.pinimg.com/originals/e4/c1/05/e4c105e9902c18a19a6428d5f950ce1c.gif');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}