body {
    background-image: url('https://i.ibb.co/S5GYvx0/Screenshot-2021-01-08-19-40-34-123-com-discord.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }